.job-map-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.search-bar {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.search-bar input, .search-bar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search-bar input {
    width: 40%;
}

.map-and-listings {
    display: flex;
    flex-grow: 1;
}

.job-listing-panel {
    width: 30%;
    background: #f8f8f8;
    padding: 20px;
    overflow-y: scroll;
}

.job-item {
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.job-item:hover {
    background-color: #f0f0f0;
}

.job-item h4 {
    margin: 0;
    color: #333;
}
