.search-bar-container {
    display: flex;
    justify-content: center;  
    margin-top: 190px;
    margin-bottom: 190px;
    margin-left: auto; 
    margin-right: auto;  
    max-width: 900px;  
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    padding: 19px; 
  }
  
  .search-bar-container input, .search-bar-container button {
    margin: 0 10px;  
    border: none;
    outline: none;
    flex-grow: 1;  
  }
  
  .search-bar-container input[type="text"] {
    flex-grow: 2;  
    font-size: 18px;
  }
  
  .search-bar-container button {
    background-color: #800020;
    color: white;
    cursor: pointer;
    max-width: 200px;
    padding: 10px;
    border-radius: 9px;  
    font-size: 18px;
  }
  