.header {
  background-color: #800020;  /* Maroon background to match your logo */
  color: white;
  padding: 15px 20px; /* Increased padding */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: space-between; /* Space between logo and title */
  font-size: 22px;
  cursor: pointer;
}

.header img {
  height: 50px; /* Adjust size as necessary */
  margin-right: 20px; /* Space between logo and text */
}

.container {
  display: flex;
  height: 90vh; /* Full height minus header */
}

.mapView, .listView {
  flex: 1;
  overflow: hidden; /* No overflow */
}

.listView {
  background-color: #ffffff; /* Light grey background for contrast */
  padding: 20px; /* Padding for spacing */
  overflow-y: auto; /* Enable scrolling on Y axis */
}

.mapView {
  overflow: hidden; /* Ensure no scroll bars appear */
}

